.bigLogo img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.bigLogo{
    height: 100vh;
    background: url("../Images/back.jpg");
}

.mainShop > div img{
   width: 48%
}

.mainMenu{
    height: 100%;
    display: inline-flex;
}

.mainShop{
    width: 50vw;
    height: 100%;
}

.mainGallery > div img{
    width: 48%;
}

.mainShop > div{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
}

.mainGallery > div{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}


.content{
    position: relative;
    min-height: 70vh !important;
    overflow: hidden;
}

@media screen and (min-width:881px) {
    .mainMenuItem > div img{
        transition: .5s;
    }
        
    .mainMenuItem > div img:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width:880px) {
    .bigLogo{
        height: 92vh;
    }

    .content{
        min-height: 110vh !important;
    }

    
    .mainGallery > div img{
        width: 101%;
    }


    .mainShop > div img{
        width: 100%
    }

    .mainShop > div{
        top: 30%;
        left: 50%;
    }

    .mainGallery > div{
        left: 50%;
        top: 72%;
    }

    .mainGallery > div,.mainShop >div{
        width: 45vh;
    }
    .bigLogo img{
        width: 22rem;
    }
}
